<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhbcampus</title>
    <link rel="stylesheet" href="../scss/extra.css">

</head>
<body>
    <div class="container">
        <div class="header">
            <img src="images/wethink.png" class="logo">
            <div class="navbar">
                <a href="index.html">HOME</a>
            </div>
            <button class="btn"><a href="">Contact</a></button>
        </div>
        <div class="content">
            <h1>Johannesburg Campus</h1>
            <button class="btn"><a href="">Pick a date</a></button>
            <button class="btn"><a href="">Reschedule</a></button>


        </div>
    </div>
</body>
</html>